.edge {
  position: absolute;
  height: 5px;
  width: 57.73672px;
  background: red;
  transform-origin: left center; }

.edge.red {
  background: red; }

.edge.orange {
  background: orange; }

.edge.green {
  background: green; }

.edge.blue {
  background: blue; }

.edge-0-1 {
  top: 28.86836px;
  left: 110px;
  transform: rotate(-30deg); }

.edge-1-2 {
  top: 0;
  left: 165px;
  transform: rotate(30deg); }

.edge-2-3 {
  top: 28.86836px;
  left: 220px;
  transform: rotate(-30deg); }

.edge-3-4 {
  top: 0;
  left: 275px;
  transform: rotate(30deg); }

.edge-4-5 {
  top: 28.86836px;
  left: 330px;
  transform: rotate(-30deg); }

.edge-5-6 {
  top: 0;
  left: 385px;
  transform: rotate(30deg); }

.edge-0-8 {
  top: 28.86836px;
  left: 110px;
  transform: rotate(90deg); }

.edge-2-10 {
  top: 28.86836px;
  left: 220px;
  transform: rotate(90deg); }

.edge-4-12 {
  top: 28.86836px;
  left: 330px;
  transform: rotate(90deg); }

.edge-6-14 {
  top: 28.86836px;
  left: 440px;
  transform: rotate(90deg); }

.edge-7-8 {
  top: 125.47344px;
  left: 55px;
  transform: rotate(-30deg); }

.edge-8-9 {
  top: 94.10508px;
  left: 110px;
  transform: rotate(30deg); }

.edge-9-10 {
  top: 125.47344px;
  left: 165px;
  transform: rotate(-30deg); }

.edge-10-11 {
  top: 94.10508px;
  left: 220px;
  transform: rotate(30deg); }

.edge-11-12 {
  top: 125.47344px;
  left: 275px;
  transform: rotate(-30deg); }

.edge-12-13 {
  top: 94.10508px;
  left: 330px;
  transform: rotate(30deg); }

.edge-13-14 {
  top: 125.47344px;
  left: 385px;
  transform: rotate(-30deg); }

.edge-14-15 {
  top: 94.10508px;
  left: 440px;
  transform: rotate(30deg); }

.edge-7-17 {
  top: 125.47344px;
  left: 55px;
  transform: rotate(90deg); }

.edge-9-19 {
  top: 125.47344px;
  left: 165px;
  transform: rotate(90deg); }

.edge-11-21 {
  top: 125.47344px;
  left: 275px;
  transform: rotate(90deg); }

.edge-13-23 {
  top: 125.47344px;
  left: 385px;
  transform: rotate(90deg); }

.edge-15-25 {
  top: 125.47344px;
  left: 495px;
  transform: rotate(90deg); }

.edge-16-17 {
  top: 217.07852px;
  left: 0px;
  transform: rotate(-30deg); }

.edge-17-18 {
  top: 188.21016px;
  left: 55px;
  transform: rotate(30deg); }

.edge-18-19 {
  top: 217.07852px;
  left: 110px;
  transform: rotate(-30deg); }

.edge-19-20 {
  top: 188.21016px;
  left: 165px;
  transform: rotate(30deg); }

.edge-20-21 {
  top: 217.07852px;
  left: 220px;
  transform: rotate(-30deg); }

.edge-21-22 {
  top: 188.21016px;
  left: 275px;
  transform: rotate(30deg); }

.edge-22-23 {
  top: 217.07852px;
  left: 330px;
  transform: rotate(-30deg); }

.edge-23-24 {
  top: 188.21016px;
  left: 385px;
  transform: rotate(30deg); }

.edge-24-25 {
  top: 217.07852px;
  left: 440px;
  transform: rotate(-30deg); }

.edge-25-26 {
  top: 188.21016px;
  left: 495px;
  transform: rotate(30deg); }

.edge-16-27 {
  top: 217.07852px;
  left: 0px;
  transform: rotate(90deg); }

.edge-18-29 {
  top: 217.07852px;
  left: 110px;
  transform: rotate(90deg); }

.edge-20-31 {
  top: 217.07852px;
  left: 220px;
  transform: rotate(90deg); }

.edge-22-33 {
  top: 217.07852px;
  left: 330px;
  transform: rotate(90deg); }

.edge-24-35 {
  top: 217.07852px;
  left: 440px;
  transform: rotate(90deg); }

.edge-26-37 {
  top: 217.07852px;
  left: 550px;
  transform: rotate(90deg); }

.edge-27-28 {
  top: 282.31524px;
  left: 0px;
  transform: rotate(30deg); }

.edge-28-29 {
  top: 311.1836px;
  left: 55px;
  transform: rotate(-30deg); }

.edge-29-30 {
  top: 282.31524px;
  left: 110px;
  transform: rotate(30deg); }

.edge-30-31 {
  top: 311.1836px;
  left: 165px;
  transform: rotate(-30deg); }

.edge-31-32 {
  top: 282.31524px;
  left: 220px;
  transform: rotate(30deg); }

.edge-32-33 {
  top: 311.1836px;
  left: 275px;
  transform: rotate(-30deg); }

.edge-33-34 {
  top: 282.31524px;
  left: 330px;
  transform: rotate(30deg); }

.edge-34-35 {
  top: 311.1836px;
  left: 385px;
  transform: rotate(-30deg); }

.edge-35-36 {
  top: 282.31524px;
  left: 440px;
  transform: rotate(30deg); }

.edge-36-37 {
  top: 311.1836px;
  left: 495px;
  transform: rotate(-30deg); }

.edge-28-38 {
  top: 311.1836px;
  left: 55px;
  transform: rotate(90deg); }

.edge-30-40 {
  top: 311.1836px;
  left: 165px;
  transform: rotate(90deg); }

.edge-32-42 {
  top: 311.1836px;
  left: 275px;
  transform: rotate(90deg); }

.edge-34-44 {
  top: 311.1836px;
  left: 385px;
  transform: rotate(90deg); }

.edge-36-46 {
  top: 311.1836px;
  left: 495px;
  transform: rotate(90deg); }

.edge-38-39 {
  top: 376.42032px;
  left: 55px;
  transform: rotate(30deg); }

.edge-39-40 {
  top: 405.28868px;
  left: 110px;
  transform: rotate(-30deg); }

.edge-40-41 {
  top: 376.42032px;
  left: 165px;
  transform: rotate(30deg); }

.edge-41-42 {
  top: 405.28868px;
  left: 220px;
  transform: rotate(-30deg); }

.edge-42-43 {
  top: 376.42032px;
  left: 275px;
  transform: rotate(30deg); }

.edge-43-44 {
  top: 405.28868px;
  left: 330px;
  transform: rotate(-30deg); }

.edge-44-45 {
  top: 376.42032px;
  left: 385px;
  transform: rotate(30deg); }

.edge-45-46 {
  top: 405.28868px;
  left: 440px;
  transform: rotate(-30deg); }

.edge-39-47 {
  top: 405.28868px;
  left: 110px;
  transform: rotate(90deg); }

.edge-41-49 {
  top: 405.28868px;
  left: 220px;
  transform: rotate(90deg); }

.edge-43-51 {
  top: 405.28868px;
  left: 330px;
  transform: rotate(90deg); }

.edge-45-53 {
  top: 405.28868px;
  left: 440px;
  transform: rotate(90deg); }

.edge-47-48 {
  top: 470.5254px;
  left: 110px;
  transform: rotate(30deg); }

.edge-48-49 {
  top: 499.39376px;
  left: 165px;
  transform: rotate(-30deg); }

.edge-49-50 {
  top: 470.5254px;
  left: 220px;
  transform: rotate(30deg); }

.edge-50-51 {
  top: 499.39376px;
  left: 275px;
  transform: rotate(-30deg); }

.edge-51-52 {
  top: 470.5254px;
  left: 330px;
  transform: rotate(30deg); }

.edge-52-53 {
  top: 499.39376px;
  left: 385px;
  transform: rotate(-30deg); }
