@import '../../styles/variables.scss';

.edge {
  position: absolute;
  height: $edgeWidth;
  width: $edgeLength;
  background: red;
  transform-origin: left center;
}

.edge.red {
  background: red;
}
.edge.orange {
  background: orange;
}
.edge.green {
  background: lightgreen;
}
.edge.blue {
  background: blue;
}

// Group 2
.edge-0-1 {
  @include vtxRow2(0);
  @include edgeNeg30();
}
.edge-1-2 {
  @include vtxRow1(0);
  @include edge30();
}
.edge-2-3 {
  @include vtxRow2(1);
  @include edgeNeg30();
}
.edge-3-4 {
  @include vtxRow1(1);
  @include edge30();
}
.edge-4-5 {
  @include vtxRow2(2);
  @include edgeNeg30();
}
.edge-5-6 {
  @include vtxRow1(2);
  @include edge30();
}
// Group 2
.edge-0-8 {
  @include vtxRow2(0);
  @include edge90();
}
.edge-2-10 {
  @include vtxRow2(1);
  @include edge90();
}
.edge-4-12 {
  @include vtxRow2(2);
  @include edge90();
}
.edge-6-14 {
  @include vtxRow2(3);
  @include edge90();
}
// Group 3
.edge-7-8 {
  @include vtxRow4(0);
  @include edgeNeg30();
}
.edge-8-9 {
  @include vtxRow3(0);
  @include edge30();
}
.edge-9-10 {
  @include vtxRow4(1);
  @include edgeNeg30();
}
.edge-10-11 {
  @include vtxRow3(1);
  @include edge30();
}
.edge-11-12 {
  @include vtxRow4(2);
  @include edgeNeg30();
}
.edge-12-13 {
  @include vtxRow3(2);
  @include edge30();
}
.edge-13-14 {
  @include vtxRow4(3);
  @include edgeNeg30();
}
.edge-14-15 {
  @include vtxRow3(3);
  @include edge30();
}
// Group 4
.edge-7-17 {
  @include vtxRow4(0);
  @include edge90();
}
.edge-9-19 {
  @include vtxRow4(1);
  @include edge90();
}
.edge-11-21 {
  @include vtxRow4(2);
  @include edge90();
}
.edge-13-23 {
  @include vtxRow4(3);
  @include edge90();
}
.edge-15-25 {
  @include vtxRow4(4);
  @include edge90();
}

// Group 5
.edge-16-17 {
  @include vtxRow6(0);
  @include edgeNeg30();
}
.edge-17-18 {
  @include vtxRow5(0);
  @include edge30();
}
.edge-18-19 {
  @include vtxRow6(1);
  @include edgeNeg30();
}
.edge-19-20 {
  @include vtxRow5(1);
  @include edge30();
}
.edge-20-21 {
  @include vtxRow6(2);
  @include edgeNeg30();
}
.edge-21-22 {
  @include vtxRow5(2);
  @include edge30();
}
.edge-22-23 {
  @include vtxRow6(3);
  @include edgeNeg30();
}
.edge-23-24 {
  @include vtxRow5(3);
  @include edge30();
}
.edge-24-25 {
  @include vtxRow6(4);
  @include edgeNeg30();
}
.edge-25-26 {
  @include vtxRow5(4);
  @include edge30();
}

// Group 6
.edge-16-27 {
  @include vtxRow6(0);
  @include edge90();
}
.edge-18-29 {
  @include vtxRow6(1);
  @include edge90();
}
.edge-20-31 {
  @include vtxRow6(2);
  @include edge90();
}
.edge-22-33 {
  @include vtxRow6(3);
  @include edge90();
}
.edge-24-35 {
  @include vtxRow6(4);
  @include edge90();
}
.edge-26-37 {
  @include vtxRow6(5);
  @include edge90();
}

// Group 7
.edge-27-28 {
  @include vtxRow7(0);
  @include edge30();
}
.edge-28-29 {
  @include vtxRow8(0);
  @include edgeNeg30();
}
.edge-29-30 {
  @include vtxRow7(1);
  @include edge30();
}
.edge-30-31 {
  @include vtxRow8(1);
  @include edgeNeg30();
}
.edge-31-32 {
  @include vtxRow7(2);
  @include edge30();
}
.edge-32-33 {
  @include vtxRow8(2);
  @include edgeNeg30();
}
.edge-33-34 {
  @include vtxRow7(3);
  @include edge30();
}
.edge-34-35 {
  @include vtxRow8(3);
  @include edgeNeg30();
}
.edge-35-36 {
  @include vtxRow7(4);
  @include edge30();
}
.edge-36-37 {
  @include vtxRow8(4);
  @include edgeNeg30();
}

// Group 8
.edge-28-38 {
  @include vtxRow8(0);
  @include edge90();
}
.edge-30-40 {
  @include vtxRow8(1);
  @include edge90();
}
.edge-32-42 {
  @include vtxRow8(2);
  @include edge90();
}
.edge-34-44 {
  @include vtxRow8(3);
  @include edge90();
}
.edge-36-46 {
  @include vtxRow8(4);
  @include edge90();
}

// Group 9
.edge-38-39 {
  @include vtxRow9(0);
  @include edge30();
}
.edge-39-40 {
  @include vtxRow10(0);
  @include edgeNeg30();
}
.edge-40-41 {
  @include vtxRow9(1);
  @include edge30();
}
.edge-41-42 {
  @include vtxRow10(1);
  @include edgeNeg30();
}
.edge-42-43 {
  @include vtxRow9(2);
  @include edge30();
}
.edge-43-44 {
  @include vtxRow10(2);
  @include edgeNeg30();
}
.edge-44-45 {
  @include vtxRow9(3);
  @include edge30();
}
.edge-45-46 {
  @include vtxRow10(3);
  @include edgeNeg30();
}

// Group 10
.edge-39-47 {
  @include vtxRow10(0);
  @include edge90();
}
.edge-41-49 {
  @include vtxRow10(1);
  @include edge90();
}
.edge-43-51 {
  @include vtxRow10(2);
  @include edge90();
}
.edge-45-53 {
  @include vtxRow10(3);
  @include edge90();
}

// Group 11
.edge-47-48 {
  @include vtxRow11(0);
  @include edge30();
}
.edge-48-49 {
  @include vtxRow12(0);
  @include edgeNeg30();
}
.edge-49-50 {
  @include vtxRow11(1);
  @include edge30();
}
.edge-50-51 {
  @include vtxRow12(1);
  @include edgeNeg30();
}
.edge-51-52 {
  @include vtxRow11(2);
  @include edge30();
}
.edge-52-53 {
  @include vtxRow12(2);
  @include edgeNeg30();
}