.vtx {
  position: absolute;
  transform: translate(-5px, -5px);
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: black; }

.vtx-0 {
  top: 28.86836px;
  left: 110px; }

.vtx-1 {
  top: 0;
  left: 165px; }

.vtx-2 {
  top: 28.86836px;
  left: 220px; }

.vtx-3 {
  top: 0;
  left: 275px; }

.vtx-4 {
  top: 28.86836px;
  left: 330px; }

.vtx-5 {
  top: 0;
  left: 385px; }

.vtx-6 {
  top: 28.86836px;
  left: 440px; }

.vtx-7 {
  top: 125.47344px;
  left: 55px; }

.vtx-8 {
  top: 94.10508px;
  left: 110px; }

.vtx-9 {
  top: 125.47344px;
  left: 165px; }

.vtx-10 {
  top: 94.10508px;
  left: 220px; }

.vtx-11 {
  top: 125.47344px;
  left: 275px; }

.vtx-12 {
  top: 94.10508px;
  left: 330px; }

.vtx-13 {
  top: 125.47344px;
  left: 385px; }

.vtx-14 {
  top: 94.10508px;
  left: 440px; }

.vtx-15 {
  top: 125.47344px;
  left: 495px; }

.vtx-16 {
  top: 217.07852px;
  left: 0px; }

.vtx-17 {
  top: 188.21016px;
  left: 55px; }

.vtx-18 {
  top: 217.07852px;
  left: 110px; }

.vtx-19 {
  top: 188.21016px;
  left: 165px; }

.vtx-20 {
  top: 217.07852px;
  left: 220px; }

.vtx-21 {
  top: 188.21016px;
  left: 275px; }

.vtx-22 {
  top: 217.07852px;
  left: 330px; }

.vtx-23 {
  top: 188.21016px;
  left: 385px; }

.vtx-24 {
  top: 217.07852px;
  left: 440px; }

.vtx-25 {
  top: 188.21016px;
  left: 495px; }

.vtx-26 {
  top: 217.07852px;
  left: 550px; }

.vtx-27 {
  top: 282.31524px;
  left: 0px; }

.vtx-28 {
  top: 311.1836px;
  left: 55px; }

.vtx-29 {
  top: 282.31524px;
  left: 110px; }

.vtx-30 {
  top: 311.1836px;
  left: 165px; }

.vtx-31 {
  top: 282.31524px;
  left: 220px; }

.vtx-32 {
  top: 311.1836px;
  left: 275px; }

.vtx-33 {
  top: 282.31524px;
  left: 330px; }

.vtx-34 {
  top: 311.1836px;
  left: 385px; }

.vtx-35 {
  top: 282.31524px;
  left: 440px; }

.vtx-36 {
  top: 311.1836px;
  left: 495px; }

.vtx-37 {
  top: 282.31524px;
  left: 550px; }

.vtx-38 {
  top: 376.42032px;
  left: 55px; }

.vtx-39 {
  top: 405.28868px;
  left: 110px; }

.vtx-40 {
  top: 376.42032px;
  left: 165px; }

.vtx-41 {
  top: 405.28868px;
  left: 220px; }

.vtx-42 {
  top: 376.42032px;
  left: 275px; }

.vtx-43 {
  top: 405.28868px;
  left: 330px; }

.vtx-44 {
  top: 376.42032px;
  left: 385px; }

.vtx-45 {
  top: 405.28868px;
  left: 440px; }

.vtx-46 {
  top: 376.42032px;
  left: 495px; }

.vtx-47 {
  top: 470.5254px;
  left: 110px; }

.vtx-48 {
  top: 499.39376px;
  left: 165px; }

.vtx-49 {
  top: 470.5254px;
  left: 220px; }

.vtx-50 {
  top: 499.39376px;
  left: 275px; }

.vtx-51 {
  top: 470.5254px;
  left: 330px; }

.vtx-52 {
  top: 499.39376px;
  left: 385px; }

.vtx-53 {
  top: 470.5254px;
  left: 440px; }
