@import '../../styles/variables.scss';

$dieRollHeight: 30px;

.die-roll {
    position: absolute;
    display: block;
    z-index: 3;
    top: ($fullHexHeight - $dieRollHeight)/2;
    left: ($fullHexWidth - $dieRollHeight)/2;
    height: $dieRollHeight;
    width: $dieRollHeight;
    border-radius: 100%;
    background: rgba(255,255,255,.6);
    color: #000;
    font-size: $dieRollHeight/2;
    font-weight: bold;
    line-height: $dieRollHeight;
}

.die-roll.frequent {
    color: red;
}