.narrative {
    font-size: 10px;
    text-align: left;

    .red {
        color: darkred;
    }
    .orange {
        color: darkorange;
    }
    .green {
        color: darkgreen;
    }
    .blue {
        color: darkblue;
    }
}